packaging_format = 2

id = "superset"
name = "Apache Superset"

description.en = "Data exploration and visualization platform"
description.fr = "Plateforme d'exploration et de visualisation de données"

version = "4.0.1~ynh2"

maintainers = ["tituspijean"]

[upstream]
license = "Apache-2.0"
website = "https://superset.apache.org/"

admindoc = "https://superset.apache.org/docs/intro"

code = "https://github.com/apache/superset"

[integration]
yunohost = '>= 11.2'
architectures = "all"
multi_instance = true
ldap = true
sso = false
disk = "1G"
ram.build = "500M"
ram.runtime = "500M"

[install]

    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.init_admin_permission]
    type = "group"
    default = "admins"
    ask.en = "Select which group should have Admin role in Superset. Other roles (Alpha, Gamma, Public) can be defined after installation."
    ask.fr = "Sélectionnez quel groupe devrait avoir le rôle Admin dans Superset. Les autres rôles (Alpha, Gamma, Public) pourront être définis après installation."

[resources]

    [resources.sources]

        [resources.sources.main]
        url = "https://github.com/apache/superset/archive/refs/tags/4.0.1.tar.gz"
        sha256 = "63dde50deb07f18cd104afd9fea79515a364bf3dfda61964455c9b7abc1f7183"
        prefetch = false
        autoupdate.strategy = "latest_github_release"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"
    admin.show_tile = false
    alpha.show_tile = false
    gamma.show_tile = false

    [resources.ports]
    
    [resources.apt]
    packages = "g++ libpq-dev postgresql python3 python3-dev python3-venv libldap2-dev libsasl2-dev libssl-dev"

    [resources.database]
    type = "postgresql"
